.Article {
  margin-bottom: 10px;
  background: #F4F4F4;
}

.Article button {
  margin-left: 5px;
}

.Image img {
  width: 100%;
  padding: 5px;
}

.Info {
  /* position: relative; */
  padding: 15px;
}

.ShowArticleButton {
  padding: 10px;
}

.ArticleBody {
  padding: 10px;
  width: 100%;
}

.ArticleTitle {
  font-weight: 900;
  font-size: 25px;
  width: 100%;
}

.Author {
  font-weight: 700;
  color: #C80F2E
}

.PubDate {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #5A6268;
}

.Categories {
  font-size: small;
  font-weight: 700;
  color: #5A6268;
}

