.Article {
  margin-bottom: 10px;
  padding: 10px;
  background: #F4F4F4;
}

.Article button {
  margin-top: 10px;
}

.Image img {
  width: 100%;
  margin-top: 10px;
}

.ArticleInfo {
  padding-left: 15px;
  width: 100%;
}

.ArticleTitle {
  font-weight: 900;
  font-size: 25px;
  margin-right: 10px;
}

.Author {
  font-weight: 700;
  color: #C80F2E
}

.PubDate {
  font-weight: 700;
  color: #5A6268;
}

.Categories {
  font-size: small;
  font-weight: 700;
  color: #C80F2E
}
