.Header {
  background: #1D428A;
  height: 50px;
  color: #FFFFFF;
  padding: 10px;
}

.SiteName {
  font-weight: bold;
}

.Link:hover {
  /* background: #142e60; */
  font-weight: bold;
  cursor: pointer;
}

.Item {
  margin-right: 10px;
}