.Header {
  background: #1d428a;
  color: #ffffff;
  padding: 15px;
}

.SiteName {
  font-weight: bold;
}

.Icon {
  margin-right: 5px;
  margin-left: 5px;
}

.Link:hover {
  /* background: #142e60; */
  font-weight: bold;
  cursor: pointer;
}
